@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
ul, li, a {
  text-decoration: none;
  list-style-type: none;
}
:root {
  --blue-text-color: #00A4E5;
}
.header {
  background-image: url(../img/headerBG.jpg);
  margin: 0 auto;
  max-width: 1438px;
  height: 768px;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 41px;
  margin-bottom: 308.5px;
}
.header__name {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
  padding-left: 25px;
  margin-bottom: -1px;
}
.header__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.85px;
  color: #FFFFFF;
}
.header__scroll-text {
  color: #FFFFFF;
  font-family: 'OpenSans', sans-serif;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  letter-spacing: 3.7px;
  margin-top: 223px;
}
.menu {
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu__title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.menu__title-navbar {
  display: flex;
}
.menu__title-navbar a {
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-transform: uppercase;
}
.menu__title-navbar a:hover{
  color: var(--blue-text-color);
}
.navbar-item {
  padding-left: 37px;
}
.line {
  max-width: 1438px;
  height: 1px;
  color: gray;
  padding: 0 auto;
  margin: 0 auto;
}
.story-h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 57px 0;
  letter-spacing: 2.30625px;
  line-height: 21px;
  color: #48555B;
}
.story-h2:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--blue-text-color);
  display: block;
  margin: 12px auto -4px;
}
.story__flex {
  display: flex;
  justify-content: center;
}
.story-left {
  max-width: 412px;
  padding-left: 0px;
  margin-right: 70px;
}
.story_title {
  letter-spacing: 0.1875px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 31px;
  color: #48555B;
}
.accent-color {
  color: var(--blue-text-color);
}
.story_text {
  letter-spacing: 0.1875px;
  font-size: 13px;
  line-height: 23px;
  color: #48555B;
}
.story-right {
  display: flex;
  align-items: flex-end;
}
.story_item {
  letter-spacing: 0.1875px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  padding: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 224px;
  margin-right: 19.5px;
  margin-bottom: -1px;
}
.story_item:nth-child(1){
  background-image: url(../img/we_plan.png);
}
.story_item:nth-child(2){
  background-image: url(../img/we_manage.png);
}
.story_item:nth-child(3){
  background-image: url(../img/we_build.png);
  margin-right: 0;
}
.services {
  margin-top: 120px;
}
.services_flex {
  display: flex;
  justify-content: space-between;
}
.services-h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2.30625px;
  line-height: 21px;
  color: #48555B;
}
.services-h2:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--blue-text-color);
  display: block;
  margin-top: 12px;
  margin-left: 2px;
}
.services__flex_text {
  margin-top: -1px;
  padding-left: 103px;
  letter-spacing: 0.2px;
  font-size: 11px;
  line-height: 19px;
  color: #48555B;
}
.button__style {
  width: 150px;
  height: 40px;
  background-color: var(--blue-text-color);
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.services__button {
  padding: 0;
  margin-top: -1px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-top: 76px;
}
.services_item {
  border: 1px solid #E6E6E6;
  width: 295px;
  height: 330px;
  padding-top: 37px;
  padding-left: 22px;
}
.services__item-h4 {
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.426667px;
  color: #48555B;
  padding-top: 25px;
}
.services_text {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: #48555B;
  padding-top: 14px;
}
.get_touch {
  background-image: url(../img/getBG.jpg);
  max-width: 1440px;
  height: 500px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  margin-top: 115px;
}
.get-in-touch_h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #48555B;
  padding-top: 72px;
}
.get-in-touch__button {
  margin: 35px auto 0;
  padding: 0;
}
.button_box {
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .story__flex {
    flex-direction: column;
  }
  .story-left {
    margin: 0 auto;
    padding: 0 10px;
  }
  .story-right {
    margin: 0 auto;
    margin-top: 35px;
  }
  .services__grid {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 76px;
  }
  .services_item {
    margin: 0 auto;
  }
  .menu__title-flex {
    margin: 0 5px;
  }
}
@media screen and (max-width: 619px) {
  .header__scroll-text{
    margin-top: 153px;
  }
  .services__flex_text {
    padding: 0 0 0 0;
    margin: 0 auto;
    text-align: center;
  }
  .services__button {
    margin: 20px auto 0;
  }
  .services__grid {
    gap: 5px;
    margin: 70px 5px 0;
  }
  .services_flex {
    margin: 0 5px;
    flex-direction: column;
  }
  .services-h2:after {
    margin: 12px auto;
  }
  .story_title {
    text-align: center;
  }
  .story_text {
    text-align: center;
  }
}
@media screen and (max-width: 603px){
  .services__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 580px) {
  .header__name {
    padding: 0 10px;
  }
  .menu__title-navbar {
    padding: 0;
  }
  .navbar-item:nth-child(1) {
    padding-left: 10px;
  }
}
@media screen and (max-width: 467px) {
  .story-right {
    flex-direction: column;
    margin-top: 5px;
  }
  .story_item {
    margin: 0;
    margin-top: 20px;
  }
  .header__text {
    padding: 0 10px;
  }
}
@media screen and (max-width: 429px) {
  .header__scroll-text{
    margin-top: 134px;
  }
}
@media screen and (max-width: 405px) {
  .menu__title-flex {
    flex-direction: column;
    margin-top: 20px;
  }
  .menu__title-navbar {
    flex-direction: column;
  }
  .navbar-item:nth-child(1) {
    padding: 0;
    margin: 0 auto;
  }
  .site__icon {
    margin: 0 auto;
  }
  .menu__title-navbar,li {
    margin: 4px auto;
  }
}
@media screen and (max-width: 344px) {
  .header__scroll-text{
    margin-top: 65px;
  }
  .header__name {
    margin: 0;
  }
}
@media screen and (max-width: 304px) {
  .services_item {
    width: 270px;
    height: 305px;
    padding: 12px 0 0 5px;
  }
}