@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700;800&display=swap');
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
img {
  display: block;
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}
ul, li, a {
  text-decoration: none;
  list-style-type: none;
}
:root {
  --blue-text-color: #00A4E5;
}
.header {
  background-image: url(../img/headerBG.jpg);
  margin: 0 auto;
  max-width: 1438px;
  height: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding-top: 41px;
  margin-bottom: 308.5px;
}
.header__name {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
  padding-left: 25px;
  margin-bottom: -1px;
}
.header__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.85px;
  color: #FFFFFF;
}
.header__scroll-text {
  color: #FFFFFF;
  font-family: 'OpenSans', sans-serif;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  justify-content: center;
  letter-spacing: 3.7px;
  margin-top: 223px;
}
.menu {
  width: 100%;
  padding: 0;
  margin: 0;
}
.menu__title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}
.site__icon {
  margin-left: 9px;
}
.menu__title-navbar {
  display: flex;
  margin-right: 8px;
}
.menu__title-navbar a {
  font-family: 'OpenSans', sans-serif;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.09091px;
  color: #48555B;
  text-transform: uppercase;
}
.menu__title-navbar a:hover{
  color: var(--blue-text-color);
}
.navbar-item {
  padding-left: 37px;
}
.line {
  max-width: 1438px;
  height: 1px;
  color: gray;
  padding: 0 auto;
  margin: 0 auto;
}
.story {
}
.story-h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding: 57px 0;
  letter-spacing: 2.30625px;
  line-height: 21px;
}
.story-h2:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--blue-text-color);
  display: block;
  margin: 12px auto -4px;
}
.story__flex {
  display: flex;
  justify-content: center;
}
.story-left {
  max-width: 412px;
  padding-left: 9px;
  margin-right: 79px;
}
.story_title {
  letter-spacing: 0.1875px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 31px;
}
.accent-color {
  color: var(--blue-text-color);
}
.story_text {
  letter-spacing: 0.1875px;
  font-size: 13px;
  line-height: 23px;
}
.story-right {
  display: flex;
  align-items: flex-end;
}
.story_item {
  letter-spacing: 0.1875px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  padding: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 224px;
  margin-right: 20px;
  margin-bottom: -1px;
}
.story_item:nth-child(1){
  background-image: url(../img/we_plan.png);
}
.story_item:nth-child(2){
  background-image: url(../img/we_manage.png);
}
.story_item:nth-child(3){
  background-image: url(../img/we_build.png);
  margin-right: 0;
}
@media screen and (max-width: 950px) {
}

